<h1 class="usercard">Hi, <%= @user.first_name %></h1>
<hr>
<div>
	<p><%= @user.first_name %> <%= @user.last_name %></p>
	<p><strong>Email:</strong> <%= @user.email %></p>
	<p class="small text-muted">Joined <%= time_ago_in_words(@user.created_at) %> ago</p>
	<% if current_user == @user %>
	<a href="/users/<%= @user.id %>/edit" class= "btn btn-default btn-lg">
	  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
	</a>
	<% end %>
</div>
<hr>
<div>
	<strong>My Blog Posts:</strong>
	<br><br>
	<% if @user.entries.length == 0 %>
		<p>No Entries</p>
		<% else %> 
		<% @entries.each do |entry| %>
		 	<p style="margin-left: 40px"><%= link_to entry.title, city_entry_path(entry.city_id, entry) %></p>
		 <br>
		<% end %>	
	<% end %>
</div>
